{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenue sur le Onboarding Lvl 1 !</h1>
    <p>Sébastien Fellenberg</p>
</div>


{% endblock %}